*, *::before, *::after{
  box-sizing: border-box;
}

body{
  color: $font-main;
  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.unstyled-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon {
  width: 5em;
  height: auto;
  margin: 1rem;
  filter: $filter-dark;
}

.logo {
  width: 10rem;
  margin-left: 1rem;
  float: left;  
}

.footer-logo {
  
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    float: none;
    filter: $filter-white;

}

.spacer{
  padding: 6rem 0;
}


@media screen and (min-width: 900px) {
  .column {
      display: flex;

  }
}

.col-2{
  flex: 50%;
}