#contact {

    font-family: $font-stack;

    .logo {
        filter: $filter-dark;
    }

    .main-nav {
        a {
            @media (min-width: 768px) {
                color: $font-main;
            }
        }
    }

    .main-header {
        position: relative;
    }

    .contact{
        padding-top: 3rem;
        a{
            color: $tertiary;
            text-decoration: none;
        }
    }

    .hamburger,
        .hamburger::before,
        .hamburger::after {
            background-color: $dark;
        }

    

}

.contact-main-content {
    padding-top: 25vh;
    padding-bottom: 25vh;
    
}