$main:#9BC1BC;
$secondary:#F4F1BB;
$tertiary:#ED6A5A;

$dark: #484848;
$light: #ffffff;

$font-main:	#666262;
$font-secondary:#3A3A3A;
$font-tertiary:#ED6A5A;

$filter-white: brightness(0) invert(1);
$filter-dark:  invert(26%) sepia(3%) saturate(5%) hue-rotate(3deg) brightness(93%) contrast(83%);