.sales-point-box {

    max-width: 300px;
    margin: 0 auto;
    padding: 3em;
    border-radius: 10px;
    box-shadow: 5px 10px 5px hwb(0 52% 48% / 0.577);
    margin-top: 2rem;
    background-color: $light;
    transform: translateY(-6rem);
}

.sales-point {
    width: 300px;
    margin: 0 auto;
}

.sales-points{
    margin-top: 4rem;
}