.story {
    padding: 3em;
    background-color: $main;
    padding-top: 4rem;
    padding-bottom: 4rem;
    h2, p{
       color: $white; 
    }
    
}

.body-link {
    color: $tertiary;
    text-decoration: none;
}